body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'SF Compact Rounded', sans-serif;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #db3434;
}

.start-screen h1 {
  color: #fff;
}

.start-screen h2 {
  color: #fff;
  margin: 2rem;
  text-align: center;
  font-size: 1rem;
}
.start-screen button {
  padding: 10px;
  cursor: pointer;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.start-screen button:hover {
  background-color: #27ae60;
}

.game-container {
  position: relative;
  width: 100vw;
  height: 200vh;
  overflow: scroll;
  background-image: url('CU_Temporary-Tunnel-Closure-Map.png');
  background-size: cover;
  background-attachment: fixed;
}

#player {
  position: absolute;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.raven {
  position: absolute;
  width: 150px;
  height: 150px;
  object-fit:contain;

}

#question-container,
#options-container {
  position: fixed;
  left: 20px;
  text-align: left;
  background-color: #ff0000;
  padding: 20px;
  border-radius: 10px;

}

#question-container h2 {
  margin-bottom: 10px;
  width: 20rem;
  color: #ffffff;
  text-align: center;
}

#options-container button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  color: #ff0000;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: grid;
  align-items: center;
  width: 19.39rem;
  font-style: italic;
}

#options-container button:hover {
  background-color: #672e2e;
}


#end-game-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#end-game-container h2 {
  margin-bottom: 10px;
  color: #333;
}

.hidden {
  display: none;
}
.wrong-answer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.5); 
  display: none;
}
